.jx-icon {
  --jx-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--jx-icon-color);
  font-size: inherit;
}

@each $val in primary, success, warning, danger, info {
  .jx-icon--$(val) {
    --jx-icon-color: var(--jx-color-$(
        val)
    );
}
}