.jx-tooltip {
  --jx-popover-bg-color: var(--jx-bg-color-overlay);
  --jx-popover-font-size: var(--jx-font-size-base);
  --jx-popover-border-color: var(--jx-border-color);
  --jx-popover-padding: 12px;
  --jx-popover-border-radius: 4px;

}

.jx-tooltip {
  .jx-tooltip__popper {
    background: var(--jx-popover-bg-color);
    border-radius: var(--jx-popover-border-radius);
    border: 1px solid var(--jx-popover-border-color);
    padding: var(--jx-popover-padding);
    color: var(--jx-text-color-regular);
    line-height: 1.4;
    text-align: justify;
    font-size: var(--jx-popover-font-size);
    box-shadow: var(--jx-box-shadow-light);
    word-break: break-all;
    box-sizing: border-box;
    z-index: 1000;

    #arrow,
    #arrow::before {
      position: absolute;
      width: 8px;
      height: 8px;
      box-sizing: border-box;
      background: var(--jx-popover-bg-color);
    }

    #arrow {
      visibility: hidden;
    }

    #arrow::before {
      visibility: visible;
      content: "";
      transform: rotate(45deg);
    }

    &[data-popper-placement^='top']>#arrow {
      bottom: -5px;
    }

    &[data-popper-placement^='bottom']>#arrow {
      top: -5px;
    }

    &[data-popper-placement^='left']>#arrow {
      right: -5px;
    }

    &[data-popper-placement^='right']>#arrow {
      left: -5px;
    }

    &[data-popper-placement^="top"]>#arrow::before {
      border-right: 1px solid var(--jx-popover-border-color);
      border-bottom: 1px solid var(--jx-popover-border-color);
    }

    &[data-popper-placement^="bottom"]>#arrow::before {
      border-left: 1px solid var(--jx-popover-border-color);
      border-top: 1px solid var(--jx-popover-border-color);
    }

    &[data-popper-placement^="left"]>#arrow::before {
      border-right: 1px solid var(--jx-popover-border-color);
      border-top: 1px solid var(--jx-popover-border-color);
    }

    &[data-popper-placement^="right"]>#arrow::before {
      border-left: 1px solid var(--jx-popover-border-color);
      border-bottom: 1px solid var(--jx-popover-border-color);
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity var(--jx-transition-duration);
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
}